@model IEnumerable<BlogViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 col-md-2"></div>
        <div class="col-sm-8 col-md-8">
            @foreach (var item in Model.Take(2))
            {
                <div class="row"><h2>@item.Title</h2></div>
                <div class="row" style="height:210px;overflow:hidden"><p>@Html.Raw(@item.Body)</p></div><hr />
                <div class="row text-right"><a asp-controller="Blog" asp-action="ReadBlog" asp-route-Id="@item.Id">Read more...</a></div>
                <div>&nbsp;&nbsp;</div>
            }
        </div>
        <div class="col-sm-2 col-md-2"></div>
    </div>
</div>